name: Deploy Frontend

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build Docker image
        run: docker build -t aurait/frontend-demo:latest .

      - name: Push Docker image
        run: docker push aurait/frontend-demo:latest

      - name: Set KUBECONFIG
        run: echo "KUBECONFIG=/etc/kubernetes/admin.conf" >> $GITHUB_ENV

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/frontend-demo \
          frontend=aurait/frontend-demo:latest
          kubectl rollout status deployment/frontend-demo

